// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }
:root {
  --primary-color: #295D8A;
  --tertiary-color: 	#71797E;

  --secondary-color: #353a40;
  /* --highlight-color: #40E0D0; */

  /* --secondary-color: #424242; */
  --highlight-color: #10CDE1;

}

.app {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header {
  position: relative;
  background-color: var(--primary-color);
  width: 100vw;
  height: 10vh;
  text-align: center;
  display: grid;
}

.buttons {
  position: relative;
  margin: auto;
}

.generate {
  color: var(--secondary-color);
  background-color: greenyellow;
  border: greenyellow;
  position: relative;
  left: -5%;
}

.customize {
  color: var(--secondary-color);
  background-color: white;
  border: white;
  position: relative;
  left: 5%;

}

.body {
  width: 100vw;
  height: 90vh;
  background-color: var(--secondary-color);
  position: relative;
  display: grid;
}

.puzzle {
  margin: auto;
  position: relative;
  width: 80vh;
  height: 80vh; 
  /* Hey. Inelegant solution here hardcoded in convertGridtoDivs. Sorry! */
  background-color: var(--secondary-color);
  text-align: center;
  color: var(--highlight-color);
}

.row {
  margin: auto;
  position: relative;
  background-color: var(--secondary-color);
  display: flex;
}

.activeSegment {
  background-color: var(--highlight-color) !important;
}

.entry {
  display: inline-block;
  position: relative;
  background-color: var(--tertiary-color);
  border-radius: 25%;
}

.edge {
  position: relative;
  margin: auto;
  display: inline-block;
  background-color: var(--tertiary-color);
  // border-radius: 5%;
  text-align: center;
}

.essential {
  position: relative;
  margin: auto;
  background-color: black;
  border-radius: 50%;
}

.egress {
  display: inline-block;
  border-radius: 25%;
  /* background-color: #295D8A; */
  /* OOH use this color for mirror puzzles */
  /* background-color: gold; */
  /* background-color: var(--tertiary-color); */
  background-color: #7393B3;
}

@keyframes solvedAnimation {
  from {background-color: #7393B3;}
  to {background-color: #FFC000;}
}

.solvedAnimation {
  animation-name: solvedAnimation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.empty {
  display: inline-block;
  background-color: var(--secondary-color);
}

.whiteSquare {
  background-color: white;
  border-radius: 30%;
}

.blackSquare {
  background-color: black;
  border-radius: 30%;
}

.error {
  display: inline-block;
  background-color: red;
}

.customizer {
  margin: auto;
  color: white;
}

