:root {
    --primary-color: steelblue;
    --secondary-color: #353a40;
    --tertiary-color: grey;
    --highlight-color: gold;
}

.app {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header {
    position: relative;
    background-color: var(--primary-color);
    width: 100vw;
    height: 10vh;
    text-align: center;
    display: grid;
}

.buttons {
    position: relative;
    margin: auto;
}

.generate {
    color: var(--secondary-color);
    background-color: greenyellow;
    border: greenyellow;
    position: relative;
    left: -5%;
}

.customize {
    color: var(--secondary-color);
    background-color: white;
    border: white;
    position: relative;
    left: 5%;

}

.body {
    width: 100vw;
    height: 90vh;
    background-color: var(--secondary-color);
    position: relative;
    display: grid;
}

.puzzle {
    margin: auto;
    position: relative;
    width: 80vh;
    height: 80vh; 
    /* Hey. Inelegant solution here hardcoded in convertGridtoDivs. Sorry! */
    background-color: var(--secondary-color);
    text-align: center;
}

.row {
    margin: auto;
    position: relative;
    background-color: var(--secondary-color);
    display: flex;
}

.activeSegment {
    background-color: var(--highlight-color) !important;
}

.entry {
    display: inline-block;
    position: relative;
    background-color: var(--tertiary-color);
    border-radius: 25%;
}

.edge {
    position: relative;
    margin: auto;
    display: inline-block;
    background-color: var(--tertiary-color);
    border-radius: 5%;
    text-align: center;
}

.ertex {
    display: inline-block;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    text-align: center;
}

.essential {
    position: relative;
    margin: auto;
    background-color: black;
    border-radius: 50%;
}

.egress {
    display: inline-block;
    border-radius: 25%;
    background-color: darkslategray;

}

.empty {
    display: inline-block;
    background-color: var(--secondary-color);
}

.error {
    display: inline-block;
    background-color: red;
}

.customizer {
    margin: auto;
    color: white;
}

