.vertex-whole {
    display: inline-block;
    width: 100%;
    height: 100%
  }

  .vertex-row {
    width: 100%;
    height: calc(100% / 3);
  }

  .vertex-space {
    display: inline-block;
    width: calc(100% / 3);
    height: 100%
  }

  .vertex-edge {
      display: inline-block;
      background-color: var(--tertiary-color);
      width: calc(100% / 3);
      height: 100%
    }
    
  .vertex-edge-active {
      background-color: var(--highlight-color);
    }
